@import 'src/styles/vars';

.currencies {
  height: 250px;
  overflow-y: auto;
  color: $color-main;

  &-title {
    font-weight: 700;
    padding: $gutter;
  }

  &-list { // -> .currencies-list
    border-top: 1px solid $color-alt;

    &-item { // -> .currencies-list-item
      border-bottom: 1px solid $color-alt;
      padding: $gutter;
      font-weight: 500;
      cursor: pointer;
      transition: background-color $slow;

      &:hover {
        background-color: $color-alt;
        transition-duration: $fast;
      }
    }
  }

  &-search {
    width: 100%;
    padding: $gutter;
    border: 0;

    &::placeholder {
      color: $color-main;
    }
  }
}
